<component name="ArtifactManager">
  <artifact type="war" name="SpringStruts:war">
    <output-path>$PROJECT_DIR$/SpringStruts/target</output-path>
    <root id="archive" name="SpringStruts-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="SpringStruts:war exploded" />
    </root>
  </artifact>
</component>