<component name="ArtifactManager">
  <artifact type="war" name="SpringInjectSessionListener:war">
    <output-path>$PROJECT_DIR$/SpringInjectSessionListener/target</output-path>
    <root id="archive" name="SpringInjectSessionListener-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="SpringInjectSessionListener:war exploded" />
    </root>
  </artifact>
</component>